/* GLOBAL */
@import 'global/variables.scss';
@import 'global/grid.scss';
@import 'global/icons.scss';
@import 'global/mixins.scss';
@import 'global/normalize.scss';
@import 'global/title.scss';
@import 'global/variables.scss';
@import 'global/global.scss';
/* BLOCKS */
@import 'blocks/card.scss';
@import 'blocks/btn.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/field.scss';
@import 'blocks/form.scss';
@import 'blocks/logo.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/map.scss';
@import 'blocks/modal.scss';
@import 'blocks/page-header.scss';
@import 'blocks/page-footer.scss';
@import 'blocks/services.scss';

@font-face {
	font-family: 'PT Sans Caption';
	src: url('../fonts/ptsanscaption.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'PT Sans Caption';
	src: url('../fonts/ptsanscaptionbold.woff');
	font-weight: bold;
}
@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenalregular.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/arsenalbold.woff');
	font-weight: bold;
}

