.services {
	margin-top: 55px;
	margin-bottom: 121px;
}

.services__container {
	@include container();
}

.services__link {
	margin-top: 20px;
	text-decoration: none;
	color: #fff;
}


@media (min-width: $tablet-widths) {
	.services {
		margin-top: 100px;
	}
}
